html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 50%;
  height: 500px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2px;
}

.block {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
