html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  touch-action: none;
}

body {
  display: flex;
  flex-direction: column;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.box {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.block {
  background-color: hsl(0, 0%, 90%);
  border-radius: 2px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  user-select: none;
}
